@import 'assets/styles/variables';

.suggestions{
  position: absolute;
  z-index: 0;
  top: 58px;
  width: 252px;
  height: 0;
  background-color: $color--light;
  opacity: 0;
  padding: 0;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  &.show{
    height: 140px;
    border: 1px solid #ced4da;
    opacity: 1;
    z-index: 2;
    padding-bottom: 10px; 
  }
  p{
    font-size: 14px;
    padding: 6px 12px;
    &:hover{
      background-color: $color--grey;
      color: $color--primary;
      cursor: pointer;
    }
    span{
      color: $color--primary;
      font-weight: 700;
    }
  }
}