@import 'assets/styles/variables';

.posterImg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  min-width: 120px;
  max-height: 175px;
  height: 175px;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.posterImgPlaceholder{
  background-color: $text__color--dark;
}