@import "assets/styles/variables";

.item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: visible !important;
  border: none;
  border-radius: 0;
  .header {
    border-radius: 0 !important;
    position: relative;
    z-index: 2;
    border: 1px solid $color--grey-2;
    padding: 0.75rem 1.25rem;
    background-color: $color--light;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      .title {
        p {
          color: $text__color--primary;
        }
      }
    }
    &.active {
      border-color: $color--primary;
      background-color: $color--primary;
      .title {
        p {
          color: $text__color--light;
        }
      }
    }
    .title {
      display: flex;
      position: relative;
      justify-content: center;
      font-weight: 700;
      p {
        transition: all 0.3s ease-in-out;
        font-size: 18px;
        color: $text__color--dark;
        z-index: 2;
      }
    }
    .headerOverlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $color--primary;
      clip-path: circle(0% at 3% 98%);
      transition: all 0.3s ease-in-out;
      border-radius: 0;
    }
  }
  .body {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 405px;
    width: 333px;
    bottom: 0;
    opacity: 0;
    background-color: $color--light;
    transition: bottom 0.5s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 0;
    &.active {
      bottom: 0;
      opacity: 1;
      z-index: 1;
    }
    &.bodyLeft {
      left: 0;
    }
    &.bodyRight {
      right: 0;
    }
  }
  .close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 0 $spacing-2;
    margin-bottom: $spacing-3;
    box-shadow: 0 0 0 0.2rem $shadow--primary;
  }
}
