@import 'assets/styles/variables';

.title{
  font-size: 14px;
  text-align: left;
  font-weight: 700;
  padding-right: 40px;
  color: $text__color--dark;
}

.description{
  font-size: 12px;
  line-height: 1.4;
  text-align: justify;
  padding-right: 16px;
  margin-top: 15px;
  margin-bottom: 8px;
}

.descriptionOverview{
  position: relative;
  z-index: 1;
  max-height: 235px;
}

.date{
  font-size: 10px;
  margin-bottom: 0;
  text-align: right;
  margin-top: auto;
  padding-right: 16px;
}
