@import "../../../assets/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 $spacing-1 0 $spacing-2;
}

.wrp {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: $app-content-height;
  margin-top: 4px;
  padding-top: 8px;
}

.sidebar {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: $spacing-1;
}

.btn__group {
  width: 100%;
  text-align: left;
  padding-bottom: 4px;
  button {
    margin-right: 5px;
  }
}

.subtitle {
  width: 100%;
  position: relative;
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
  color: $text__color--dark;
  margin-bottom: 0px;
  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 310px;
    border-top: 3px solid $color--primary;
    border-left: 3px solid $color--primary;
  }
  span {
    position: relative;
    z-index: 1;
    background-color: $color--grey;
  }
}
