.Card{
  height: 175px;
  max-height: 175px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.Card.detailedCard{
  height: auto;
  max-height: 700px;
}

.cardFooter{
  border: none;
  background-color: #ffffff;
}

.CardTitle{
  font-size: 16px;
  color: #616161;
}

.CardImg, .NoImg{
  width: 120px;
  min-width: 120px;
  height: 175px;
  max-height: 175px;
  transition: all 0.3s ease-in-out;
}

.detailedCard .CardImg, .detailedCard .NoImg{
  width: 130px;
  min-width: 130px;
  height: 195px;
  max-height: 195px;
}

.NoImg{
  background-color: #616161;
}
 
.biography{
  overflow-y: auto;
  overflow-x: hidden;
  height: 330px;
}

.creditCards{
  overflow-y: auto;
  overflow-x: hidden;
  height: 330px;
}

.creditCards::-webkit-scrollbar,
.biography::-webkit-scrollbar {
  width: 5px;
}

.creditCards::-webkit-scrollbar-track,
.biography::-webkit-scrollbar-track{
  background: #ddd;
}

.creditCards::-webkit-scrollbar-thumb,
.biography::-webkit-scrollbar-thumb {
  background: #9E56FC; 
}

.creditCard:hover{
  cursor: pointer;
}

.ListGroup{
  overflow-y: auto;
  height: 100px;
}

.ListGroup::-webkit-scrollbar {
  width: 5px;
}

.ListGroup::-webkit-scrollbar-track {
  background: #ddd;
}

.ListGroup::-webkit-scrollbar-thumb {
  background: #9E56FC; 
}

.ListGroupItem{
  border: none;
  font-size: 12px;
  color: #616161;
}

.ShowName:hover{
  cursor: pointer;
  color: #9E56FC;
}

.title,
.text{
  color: #616161;
}

.title{
  font-size: 14px;
}

.text{
  font-size: 12px;
}

.Badge{
  font-size: 11px;
  border-radius: 0;
  min-width: 75px;
  max-width: 75px;
}

.CardOverlay{
  position: absolute;
  bottom: 0;
  left: -120px;
  width: 0%;
  height: 30px;
  background-color: rgba(158, 86, 252, 0.9);
  transition: all 0.4s ease-in-out;
}

.Card:hover .CardOverlay{
  left: 0;
  width: 120px;
}

.CardOverlay:hover{
  cursor: pointer;
}

.CardOverlay p{
  font-size: 16px;
  font-weight: bold;
  color: #F2F2F2;
  white-space: nowrap;
}

.containerHeader p{
  font-size: 18px;
  color: #616161;
  background-color: #ffffff;
  z-index: 2;
}

.containerHeader span{
  position: absolute;
  width: 100%;
  bottom: 12px;
  left: 0;
  background-color: #616161;
  height: 1px;
}

.accordion .card{
  border-left: 0;
  border-right: 0;
  
}

.accordion .cardHeader{
  border-radius: 0;
  background-color: #ffffff;
}


.loadingSpinner{
  width: 218px;
  height: 121px;
}