@import 'assets/styles/variables';

.input{
  height: 32px;
  border-radius: 0;
  font-size: 12px;
  &:focus{
    border-color:$color--primary;
    box-shadow: 0 0 0 0.2rem $shadow--primary;
  }
}

.iconClose{
  position: absolute;
  top: 3px;
  right: 10px;
  &:hover{
    cursor: pointer;
  }
}