@import 'assets/styles/variables';

.card{
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
  margin-right: 11px;
}

.title{
  font-size: 14px;
}

.text{
  font-size: 12px;
}

.title,
.text{
  color: $color--dark;
}