@import 'assets/styles/variables';

body {
  width: 400px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.badge{
  &.badge-success{ 
    background-color: $color--success;
  }
  &.badge-warning{ 
    background-color: $color--warning;
    color: $text__color--light;
  }
  &.badge-danger{ 
    background-color: $color--danger;
  }
}

.btn-danger, 
.btn-primary{
  transition: all 0.2s ease-in-out;
}

.btn-danger{
  background-color: $color--danger;
  box-shadow: 0 0 0 0.2rem $shadow--danger;
  &:hover{
    cursor: pointer;
    background-color: $color--danger--darker;
    border-color: $color--danger--darker;
    box-shadow: 0 0 0 0.2rem $shadow--danger--darker;
  }
}

.btn-primary{
  background-color: $color--primary;
  border-color:  $color--primary;
  box-shadow: 0 0 0 0.2rem $shadow--primary;
  &:hover{
    cursor: pointer;
    background-color: $color--primary--darker;
    border-color:  $color--primary--darker;
    box-shadow: 0 0 0 0.2rem $shadow--primary--darker;
  }
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):focus{
  background-color: $color--danger--darker;
  border-color: $color--danger--darker;
  box-shadow: 0 0 0 0.2rem $shadow--danger;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus{
  background-color: $color--primary--darker;
  border-color:  $color--primary--darker;
  box-shadow: 0 0 0 0.2rem $shadow--primary--darker;
}

.customScroll{
  overflow-y: auto;
  scrollbar-color:  $color--primary $text__color--grey2;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track{
    background: $text__color--grey2;
  }
  &::-webkit-scrollbar-thumb{
    background: $color--primary; 
    &:hover{
      background: $color--primary--darker; 
    }
  }
  &.customScroll--red{
    scrollbar-color:  $color--danger $text__color--grey2;
    &::-webkit-scrollbar-track{
      background: transparent;
    }
    &::-webkit-scrollbar-thumb{
      background: $color--danger; 
      &:hover{
        background: $color--danger--darker; 
      }
    }
  }
}


