@import 'assets/styles/variables';

body {
  width: 400px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.badge{
  &.badge-success{ 
    background-color: $color--success;
  }
  &.badge-warning{ 
    background-color: $color--warning;
    color: $text__color--light;
  }
  &.badge-danger{ 
    background-color: $color--danger;
  }
}

.btn-danger, 
.btn-primary{
  transition: all 0.2s ease-in-out;
}

.btn-danger{
  background-color: $color--danger;
  box-shadow: 0 0 0 0.2rem $shadow--danger;
  &:hover{
    cursor: pointer;
    background-color: $color--danger--darker;
    border-color: $color--danger--darker;
    box-shadow: 0 0 0 0.2rem $shadow--danger--darker;
  }
}

.btn-primary{
  background-color: $color--primary;
  border-color:  $color--primary;
  box-shadow: 0 0 0 0.2rem $shadow--primary;
  &:hover{
    cursor: pointer;
    background-color: $color--primary--darker;
    border-color:  $color--primary--darker;
    box-shadow: 0 0 0 0.2rem $shadow--primary--darker;
  }
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):focus{
  background-color: $color--danger--darker;
  border-color: $color--danger--darker;
  box-shadow: 0 0 0 0.2rem $shadow--danger;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus{
  background-color: $color--primary--darker;
  border-color:  $color--primary--darker;
  box-shadow: 0 0 0 0.2rem $shadow--primary--darker;
}

.customScroll{
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track{
    background: $text__color--grey2;
  }
  &::-webkit-scrollbar-thumb{
    background: $color--primary; 
    &:hover{
      background: $color--primary--darker; 
    }
  }
  &.customScroll--red{
    &::-webkit-scrollbar-track{
      background: transparent;
    }
    &::-webkit-scrollbar-thumb{
      background: $color--danger; 
      &:hover{
        background: $color--danger--darker; 
      }
    }
  }
}

.accordion{
  > .card:first-of-type{
    .card-header{
      border-right : 1px solid $color--grey-2;
    }
  }
  .containerBody{
    position: absolute;
    height: 325px;
    width: 370px;
    bottom: 0;
    opacity: 0;
    background-color: $color--light;
    transition: bottom 0.5s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 0;
    &.active{
      bottom: 47px;
      opacity: 1;
      z-index: 1;
    }
    &.containerBody--left{
      left: 0;
    }
    &.containerBody--right{
      right: 0;
    }
  }
}

