body {
  width: 400px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.badge.badge-success{ 
  background-color: #56FC67;
}

.badge.badge-warning{ 
  background-color: #EDFC56;
  color: #ffffff;
}
.badge.badge-danger{ 
  background-color: #FC5656;
}
.btn-danger, .btn-primary{
  transition: all 0.2s ease-in-out;
}

.btn-danger{
  background-color: #FC5656;
}

.btn-danger:hover{
  background-color: #e20303;
  border-color: #e20303;
}

.btn-primary{
  background-color: #9E56FC;
  border-color:  #9E56FC;
  box-shadow: 0 0 0 0.2rem rgba(158, 86, 252, .25);
}

.btn-primary:hover{
  background-color: rgb(137, 47, 255);
  border-color:  rgb(137, 47, 255);
  box-shadow: 0 0 0 0.2rem rgba(137, 47, 255, .25);
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):focus{
  background-color: #e20303;
  border-color: #e20303;
  box-shadow: 0 0 0 0.2rem rgba(252, 86, 86, .25);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus{
  background-color: rgb(137, 47, 255);
  border-color:  rgb(137, 47, 255);
  box-shadow: 0 0 0 0.2rem rgba(137, 47, 255, .25);
}

.accordion > .card .card-header{
  margin-bottom: 0;
}
.accordion .card-header,
.accordion .card-header span,
.accordion .card-header p{
  transition: all 0.2s ease-in-out;
}

.accordion .card-header:hover{
  cursor: pointer;
}
.accordion .card-header:hover,
.accordion .card-header:hover p,
.accordion .card-header:not(.collapsed),
.accordion .card-header:not(.collapsed) p{
  background-color: #9E56FC;
}
.accordion .card-header:hover p,
.accordion .card-header:not(.collapsed) p{
  color: #ffffff;
}
.accordion .card-header:hover span,
.accordion .card-header:not(.collapsed) span{
  background-color: #ffffff;
}