.btn{
  position: relative;
  &:hover{
    cursor: pointer;
  }
  &.btn--small{
    height: 24px;  
    font-size: 12px;
  }
  &.btn--big{
    height: 32px;
    min-width: 110px;
    border-radius: 0;
    padding: 3px 12px;
    font-size: 17px;
  }
  &.btn--primary{
    background-color: $color--primary;
    border-color:  $color--primary;
    color: $color--light;
    &:hover{
      background-color: $color--primary--darker;
      border-color:  $color--primary--darker;
      box-shadow: 0 0 0 0.2rem $shadow--primary--darker;
    }
  }
}

.btn-danger, 
.btn-primary{
  transition: all 0.2s ease-in-out;
}

.btn-danger{
  background-color: $color--danger;
  box-shadow: 0 0 0 0.2rem $shadow--danger;
  &:hover{
    cursor: pointer;
    background-color: $color--danger--darker;
    border-color: $color--danger--darker;
    box-shadow: 0 0 0 0.2rem $shadow--danger--darker;
  }
}

.btn-primary{
  background-color: $color--primary;
  border-color:  $color--primary;
  box-shadow: 0 0 0 0.2rem $shadow--primary;
  &:hover{
    cursor: pointer;
    background-color: $color--primary--darker;
    border-color:  $color--primary--darker;
    box-shadow: 0 0 0 0.2rem $shadow--primary--darker;
  }
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled):focus{
  background-color: $color--danger--darker;
  border-color: $color--danger--darker;
  box-shadow: 0 0 0 0.2rem $shadow--danger;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):focus{
  background-color: $color--primary--darker;
  border-color:  $color--primary--darker;
  box-shadow: 0 0 0 0.2rem $shadow--primary--darker;
}