* {
  box-sizing: border-box;
}

body {
  width: 400px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
p {
  margin: 0;
}

.badge {
  &.badge-success {
    background-color: $color--success;
  }
  &.badge-warning {
    background-color: $color--warning;
    color: $text__color--light;
  }
  &.badge-danger {
    background-color: $color--danger;
  }
}

.icon-close {
  min-width: 20px;
  min-height: 20px;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &.icon-close--dark {
    fill: $color--dark;
    &:hover {
      fill: $color--danger;
    }
  }
  &.icon-close--light {
    fill: $color--light;
  }
  &.icon-close--danger {
    fill: $text__color--grey3;

    &:hover {
      fill: $color--danger;
    }
  }
}

.suggestion {
  &.ready {
    p {
      background-color: $color--grey;
      color: $color--primary;
      cursor: pointer;
    }
  }
}

.customScroll {
  overflow-y: auto;
  scrollbar-color: $color--primary $text__color--grey2;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $color--primary;
    &:hover {
      background: $color--primary--darker;
    }
  }
  &.customScroll--red {
    scrollbar-color: $color--danger $text__color--grey2;
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: $color--danger;
      &:hover {
        background: $color--danger--darker;
      }
    }
  }
}
