$color--light: #ffffff;
$color--grey: #f2f2f2;
$color--grey-2: #e6e6e6;
$color--grey-3: #ced4da;
$color--dark: #616161;
$color--primary: #9e56fc;
$color--primary--darker: darken($color--primary, 20);
$color--secondary: #56fc67;
$color--success: #56fc67;
$color--warning: #edfc56;

$color--danger: #fc5656;
$color--danger--darker: darken($color--danger, 20);

$text__color--light: #ffffff;
$text__color--grey: #f2f2f2;
$text__color--grey2: #dddddd;
$text__color--grey3: #8c8c8c;
$text__color--dark: #616161;
$text__color--primary: $color--primary;

$shadow--danger: rgba(252, 86, 86, 0.25);
$shadow--danger--darker: rgba(232, 4, 4, 0.25);
$shadow--primary: rgba(158, 86, 252, 0.25);
$shadow--primary--darker: rgba(137, 47, 255, 0.25);

$app-height: 500px;
$app-header-height: 75px;
$app-content-height: #{$app-height - $app-header-height};
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 16px;
