@import 'assets/styles/variables';

.title{
  font-size: 14px;
  font-weight: 700;
  color: $text__color--dark;
  text-align: left;
  margin-bottom: 4;
}

.text{
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 4;
  color: $text__color--dark;
}
